/* Variables */
:root {
	--main: blue;
	--dark: black;
	--light: white;
	--alert: orange;
	--html: rgb(28, 28, 28);
}

/* General */
html {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem; /* 16px */
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.01em;
	margin: 0 auto;
	scroll-behavior: smooth;
	background-color: var(--html);
}

body {
	min-width: 320px;
	max-width: 1280px;
	min-height: 100svh;
	margin: 0 auto;
	background-color: var(--light);
}

.center,
.container-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Fonts */
h1 {
	font-size: clamp(1.8rem, 4vw, 3.8rem);
}

h3 {
	font-size: clamp(1.2rem, 3vw, 2.8rem);
	font-style: italic;
	color: var(--alert);
	margin-top: 1rem;
}

a,
p,
button,
.logo,
p.footer {
	font-size: clamp(0.8rem, 2vw, 1.8rem);
}

/* Buttons & Links */
a {
	margin: 0 1.6em;
	padding: 0.1em 0.5em;
	transition: all 0.5s ease;
}

button {
	width: 60%;
	padding: 0.6em 2em;
	border-radius: 0.5em;
	color: var(--fg);
	background-color: var(--bg);
	transition: all 0.5s ease;
}

a:hover,
button:hover,
a:focus {
	color: var(--alert);
	scale: 1.1;
	border: 2px solid var(--alert);
}

/* Header */
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 5svh;
	padding: 0.7rem 1rem;
	color: var(--light);
	background-color: var(--main);
}

.logo img {
	width: clamp(1.6em, 2.8vw, 2.6em);
	margin-left: 0.3em;
}

.nav-container {
	display: flex;
}

/* Main */
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 90svh;
}

.main-container p {
	text-align: center;
	line-height: 2.5rem;
	padding: 4rem 5rem;
}

.logos-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.logos-container img {
	height: clamp(6em, 12vw, 12em);
	margin: 1rem;
	/* border: 2px solid red; */
}

/* Footer */
.footer-container {
	min-height: 5svh;
	padding: 0.5rem 0;
	color: var(--main);
	background-color: var(--main);
}

p.footer {
	text-align: center;
	color: var(--light);
}
